 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

.optionImages, .galleryImages {
  margin-top: 2%;
  max-width: 25%;
  width: 100%;
  max-width: 150px; /*control width, this is provisional*/
  height: auto;
  border:solid 5px hsla(0, 95%, 35%, 1);
  
}

/* .gallery_container{
  border:solid 1px hsla(0, 95%, 35%, 1);
} */

.galleryImages {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-style: ridge;
    color: #6fbbf6;
}

.gallery_container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}



